@import url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");
* {
  margin: 0 5px;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 15px;
  font-family: 'DM Sans', sans-serif;
}

.container {
  height: 100vh;
}

#center-width {
  left: 50%;
  top: 50%;
  position: absolute;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 3em;
}

.header {
  height: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  font-size: 3.5vw;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 2.0vw;
  gap: 15px;
}

.header__menu a {
  text-decoration: none;
  color: black;
}

.main {
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.main__image {
  background-image: url("./assets/images/ashish-img.jpg");
  width: 50%;
  background-repeat: no-repeat;
  background-position: left center;
  background-size: contain;
  border-radius: 10px;
}

.main__text {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__text-1 {
  font-size: 10vh;
  margin-bottom: 20px;
}

.main__text-2, .main__text-3, .main__text-4 {
  font-size: 3vw;
}

.footer {
  height: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 10%;
  gap: 20px;
}

[class^="footer__"] img {
  width: 4.3vw;
}

@media (max-width: 450px) {
  .header {
    height: 20%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header__logo {
    font-size: 40px;
  }
  .header__menu {
    display: none;
  }
  .main {
    height: 60%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .main__image {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    background-size: 100%;
    background-position-y: 0px;
  }
  .main__text {
    width: 100%;
    margin: 30px;
  }
  .main__text-1 {
    display: none;
  }
  .main__text-2, .main__text-3, .main__text-4 {
    font-size: 30px;
  }
  .footer {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: 0px;
  }
  .footer [class^="footer__"] img {
    width: 45px;
    height: 45px;
  }
}

@media (max-width: 754px) {
  .main__text-1 {
    font-size: 3rem;
  }
  .footer {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer [class^="footer__"] {
    margin: 0;
  }
  .footer [class^="footer__"] img {
    width: 3rem;
  }
}
/*# sourceMappingURL=style.css.map */